@import '../../_globals.scss';
.player-card {
    font-family: $font-stack;
    font-size: 32px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    height: 60px;
    margin-bottom: 6px;
    color: white;
    transition: background-color 0.5s ease;
    img {
        width: auto;
        height: 100%;
    }
}
.player-card.blue {
    background-color: rgba(135, 140, 196, 1)
}
.player-card.red {
    background-color: rgba(196, 135, 135, 1)
}
.player-battle-tag {
    padding-left: 0.2em;
    border: none;
    background-color: inherit;
    height: 1em;
    cursor: text;
}
.player-card-overlay-buttons {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    top: 0;
    right: 0;
    
    height: 60px;
}
.player-card-overlay-button {
    float: right;
    padding: 0 0.25em;
    cursor: pointer;
    border-left: 1px solid #c9c9c9;
    transition: background-color 0.5s ease;
}
.player-card-overlay-button:hover {
    background-color: rgba(225, 225, 225, 1);
}